/* Global 全局 */
html{
	width:100%;
	height:100%;
	/* 屏幕旋转文字大小不会被改变 */
	-webkit-text-size-adjust:none;
	-moz-text-size-adjust:none;
	-ms-text-size-adjust:none;
	-o-text-size-adjust:none;
	text-size-adjust:none;
}
body,ul{margin:0;padding:0;}
body{
	width:100%;
	height:100%;
	background-color:#47c9af;
	color:#74777b;
	font-weight:300;
	font-size:1.5em;
	font-family:"Raleway","Arail";
}

ul{
	list-style:none;
}

a:link,a:visited,a:focus{
	text-decoration:none;
	outline:none;
}

*,*:after,*:before{
	/* 不要让边距或边框影响盒子大小 */
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}

*:after,*:before{
	display:block;
	content:"";
}

*:after{clear:both;}



/* Navgaitor 导航*/
.nav{
	width:800px;
	height:300px;
	margin:200px auto;
}

.nav li{
	display:inline-block;
	margin:0 1em;
}

.tooltip{
	display:inline-block;
	font-weight:700;
	color:rgba(0, 0, 0, 0.3);
	padding:0.15em 0.1em 0;
	position:relative;
	z-index:9;
	-webkit-transition:color 0.3s;
			transition:color 0.3s;
}
.tooltip:hover{color:rgba(255,255,255,1);}

.tooltip-content{
	position:absolute;
	z-index:99;
	width:80px;
	height:80px;
	border-radius:50%;
	background-color:#fff;
	left:50%;
	margin-left:-40px;
	bottom:100%;
	margin-bottom:20px;
	text-align:center;
	padding-top:25px;
	color:#47c9af;
	opacity:0;
	-webkit-transition:all 0.3s;
			transition:all 0.3s;
}

.tooltip .tooltip-content i{
	opacity:0;
	-webkit-transition:all  0.3s;
			transition:all  0.3s;
}

.tooltip-content::after{
	display:block;
	content:"";
	width:30px;
	height:20px;
	/* background-color:red; */
	background-image:url(tooltip1.svg);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:100%;
	position:absolute;
	top:100%;
	left:50%;
	margin:-7px 0 0 -15px;

}


/* 动画部分 */

.tooltip-effect-1 .tooltip-content{
	-webkit-transform: translate3d(0,10px,0) rotate3d(1, 1, 1,45deg);
			transform: translate3d(0,10px,0) rotate3d(1, 1, 1,45deg);
	-webkit-transform-origin:center bottom;
			transform-origin:center bottom;
}
.tooltip-effect-1 .tooltip-content i{
	-webkit-transform: scale3d(0, 0, 1);
			transform: scale3d(0, 0, 1);
}

.tooltip-effect-2 .tooltip-content{
	-webkit-transform: translate3d(0,20px,0);
			transform: translate3d(0,20px,0);
}
.tooltip-effect-2 .tooltip-content i{
	-webkit-transform:translate3d(0, 15px, 0);
			transform:translate3d(0, 15px, 0); 
}

.tooltip-effect-3 .tooltip-content{
	-webkit-transform:translate3d(0,20px,0) rotate3d(0, 1, 0, 90deg);
			transform:translate3d(0,20px,0) rotate3d(0, 1, 0, 90deg);
	-webkit-transform-origin:50% 100%;
			transform-origin:50% 100%;
}
.tooltip-effect-3 .tooltip-content i{
	-webkit-transform:scale3d(0, 0, 1);
			transform:scale3d(0, 0, 1);
}


.tooltip-effect-4 .tooltip-content{
	-webkit-transform: translate3d(0, -20px, 0);
			transform: translate3d(0, -20px, 0);
}
.tooltip-effect-4 .tooltip-content i{
	-webkit-transform:translate3d(0, 20px, 0);
			transform:translate3d(0, 20px, 0);
}


.tooltip-effect-5 .tooltip-content{
	-webkit-transform:scale3d(0, 0, 1);
			transform:scale3d(0, 0, 1);
	-webkit-transform-origin:50% 100%;
			transform-origin:50% 100%;
}
.tooltip-effect-5 .tooltip-content i{
	-webkit-transform:translate3d(0, 20px, 0);
			transform:translate3d(0, 20px, 0);
}

.tooltip:hover .tooltip-content,
.tooltip:hover .tooltip-content i{
	opacity:1;
	-webkit-transform: translate3d(0, 0, 0) rotate3d(1, 1, 1, 0) scale3d(1, 1, 1);
			transform: translate3d(0, 0, 0) rotate3d(1, 1, 1, 0) scale3d(1, 1, 1);
}
